use Rex -feature => ['1.0'];
use Rex::Ext::ParamLookup;

include qw/
  Rex::Snmp::Client
  /;

set connection => 'OpenSSH';
user 'root';

task "setup", make {

  Rex::Snmp::Client::setup(monitor=>"192.168.1.1",community=>"public");
  Rex::Snmp::Client::remove;

};

